table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.spaces {
  display: flex;
  /* outline: 1px solid black; */
  border: 1px solid black;
}

.space {
  list-style-type: none;
  border: 1px solid black;

  /* border-right: 1px solid black; */
  /* border-right: 1px solid black; */
  margin: 0px;
  padding: 0px 5px 0px 5px;
}