table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.dirs {
  display: flex;
  /* outline: 1px solid black; */
  border: 1px solid black;
  /* width: 1000px; */
  height: 700px; /* need for dir owerflow scroll*/
}

.dir {
  list-style-type: none;
  /* border: 1px solid black; */

  /* border-right: 1px solid black; */
  border-right: 1px solid rgba(0,0,0,0.2);
  margin: 0px;
  padding: 0px 5px 0px 5px;
  overflow: scroll;
}


.item {
  display: flex;
  align-items: center;
  /* font-family: Menlo; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
  /* font-size: 8pt; */
  font-size: 8pt;
  white-space: nowrap;
}

/* item:not(.selected) */


.item:hover {
  outline:1px solid rgba(0,0,0,0.3);
  cursor: e-resize;
  /* cursor: pointer; */
}

.selected {
  background-color: cornflowerblue;
  color: white;
}

.icon {
  margin-right: 5px;
  cursor: pointer;
}

.icon:hover {
  outline:1px solid rgba(0,0,0,0.3);
}


.preview {
  font-size: 8pt;
  width: 200px;
  /* background-color: rgba(0,0,0,0.1) */
  background-color: white;
}

.app {
  display: flex;
}

.image_preview {
  width: 200px;
  height: 100px;
}

textarea {
  font-family: Menlo;
}